<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Token" value="xGFIZmq21ISX" />
		<add key="ServerApi" value="https://api-ip.fssp.gov.ru/api/v1.0" />
		<add key="MaxPhysicRequest" value="1000" />
		<add key="DonePhysicsRequest" value="0" />
		<add key="MaxGroupRequest" value="1000" />
		<add key="DoneGroupRequest" value="0" />
		<add key="Date" value="29.12.2021" />
		
		
	</appSettings>
</configuration>